#scene1 {
  -skrollr-animation-name: scene1; }

@-skrollr-keyframes scene1 {
  skrollr-0 {
    top: 0%; }
  skrollr-5500 {
    top: 0%; }
  skrollr-6000 {
    top: -100%; } }
#scene2 {
  -skrollr-animation-name: scene2; }

@-skrollr-keyframes scene2 {
  skrollr-5500 {
    top: 100%; }
  skrollr-6000 {
    top: 0%; }
  skrollr-26500 {
    top: 0%; }
  skrollr-27000 {
    top: -100%; } }
#scene3 {
  -skrollr-animation-name: scene3; }

@-skrollr-keyframes scene3 {
  skrollr-26500 {
    top: 100%; }
  skrollr-27000 {
    top: 0%; }
  skrollr-31500 {
    top: 0%; }
  skrollr-32000 {
    top: -100%; } }
#scene4 {
  -skrollr-animation-name: scene4; }

@-skrollr-keyframes scene4 {
  skrollr-31500 {
    top: 100%; }
  skrollr-32000 {
    top: 0%; }
  skrollr-33500 {
    top: 0%; }
  skrollr-34000 {
    top: -100%; } }
#scene5 {
  -skrollr-animation-name: scene5; }

@-skrollr-keyframes scene5 {
  skrollr-33500 {
    top: 100%; }
  skrollr-34000 {
    top: 0%; }
  skrollr-35500 {
    top: 0%; } }
#scene1 #scrolling {
  -skrollr-animation-name: scrolling; }
@-skrollr-keyframes scrolling {
  skrollr-0 {
    opacity: 1;
    transform: translate(0, -50px); }
  skrollr-200 {
    opacity: 0;
    transform: translate(0, 0px); } }
#scene1 #earthset {
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -skrollr-animation-name: earthset; }
@-skrollr-keyframes earthset {
  skrollr-500 {
    transform: scale(0); }
  skrollr-1000 {
    transform: scale(1); } }
#scene1 #earth {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -skrollr-animation-name: earth; }
#scene1 #ribon {
  -skrollr-animation-name: ribon; }
@-skrollr-keyframes ribon {
  skrollr-1200 {
    opacity: 0;
    transform[swing]: translate(0, -50px); }
  skrollr-1500 {
    opacity: 1;
    transform[swing]: translate(0, 0px); }
  skrollr-2400 {
    opacity: 1; }
  skrollr-2500 {
    opacity: 0;
    transform[swing]: translate(0, 500px); } }
#scene1 #airbus {
  -skrollr-animation-name: airbus; }
@-skrollr-keyframes airbus {
  skrollr-1200 {
    opacity: 0;
    transform[swing]: translate(100px, -100px); }
  skrollr-1500 {
    opacity: 1;
    transform[swing]: translate(0, 0); } }
#scene1 #logo {
  -skrollr-animation-name: logo; }
@-skrollr-keyframes logo {
  skrollr-0 {
    transform[swing]: translate(0, -500px); }
  skrollr-500 {
    transform[swing]: translate(0, 0); } }
#scene1 #txt01 {
  -skrollr-animation-name: txt01; }
@-skrollr-keyframes txt01 {
  skrollr-0 {
    opacity: 1; }
  skrollr-500 {
    opacity: 0; } }
#scene1 #scrolltxt {
  -skrollr-animation-name: scrolltxt; }
@-skrollr-keyframes scrolltxt {
  skrollr-0 {
    opacity: 1; }
  skrollr-500 {
    opacity: 0; } }
#scene1 #users {
  -skrollr-animation-name: users; }
@-skrollr-keyframes users {
  skrollr-3950 {
    opacity: 1; }
  skrollr-4000 {
    opacity: 0; } }
#scene1 #user01 {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -skrollr-animation-name: user1; }
@-skrollr-keyframes user1 {
  skrollr-2500 {
    transform: scale(0); }
  skrollr-2550 {
    transform[bounce]: scale(1); } }
#scene1 #user02 {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -skrollr-animation-name: user2; }
@-skrollr-keyframes user2 {
  skrollr-2550 {
    transform: scale(0); }
  skrollr-2600 {
    transform[bounce]: scale(1); } }
#scene1 #user03 {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -skrollr-animation-name: user3; }
@-skrollr-keyframes user3 {
  skrollr-2600 {
    transform: scale(0); }
  skrollr-2650 {
    transform[bounce]: scale(1); } }
#scene1 #user04 {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -skrollr-animation-name: user4; }
@-skrollr-keyframes user4 {
  skrollr-2650 {
    transform: scale(0); }
  skrollr-2750 {
    transform[bounce]: scale(1); } }
#scene1 #user05 {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -skrollr-animation-name: user5; }
@-skrollr-keyframes user5 {
  skrollr-2750 {
    transform: scale(0); }
  skrollr-2800 {
    transform[bounce]: scale(1); } }
#scene1 #user06 {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -skrollr-animation-name: user6; }
@-skrollr-keyframes user6 {
  skrollr-2800 {
    transform: scale(0); }
  skrollr-2850 {
    transform[bounce]: scale(1); } }
#scene1 #user07 {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -skrollr-animation-name: user7; }
@-skrollr-keyframes user7 {
  skrollr-2850 {
    transform: scale(0); }
  skrollr-2900 {
    transform[bounce]: scale(1); } }
#scene1 #user08 {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -skrollr-animation-name: user8; }
@-skrollr-keyframes user8 {
  skrollr-2950 {
    transform: scale(0); }
  skrollr-3000 {
    transform[bounce]: scale(1); } }
#scene1 #user09 {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -skrollr-animation-name: user9; }
@-skrollr-keyframes user9 {
  skrollr-3000 {
    transform: scale(0); }
  skrollr-3050 {
    transform[bounce]: scale(1); } }
#scene1 #user10 {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -skrollr-animation-name: user10; }
@-skrollr-keyframes user10 {
  skrollr-3050 {
    transform: scale(0); }
  skrollr-3100 {
    transform[bounce]: scale(1); } }
#scene1 #mobilset {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -skrollr-animation-name: mobilset; }
@-skrollr-keyframes mobilset {
  skrollr-4200 {
    transform: scale(1); }
  skrollr-4500 {
    transform: scale(0.3); } }
#scene1 #mobile {
  -skrollr-animation-name: mobile; }
@-skrollr-keyframes mobile {
  skrollr-4200 {
    opacity: 0; }
  skrollr-4300 {
    opacity: 1; } }
#scene1 #outback {
  -skrollr-animation-name: outback; }
@-skrollr-keyframes outback {
  skrollr-4200 {
    opacity: 1; }
  skrollr-4300 {
    opacity: 0; } }
#scene1 #business {
  -skrollr-animation-name: business; }
@-skrollr-keyframes business {
  skrollr-4300 {
    opacity: 0; }
  skrollr-4550 {
    opacity: 1; } }
#scene1 #busy01 {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -skrollr-animation-name: busy01; }
@-skrollr-keyframes busy01 {
  skrollr-4500 {
    transform: scale(0); }
  skrollr-4550 {
    transform[bounce]: scale(1); } }
#scene1 #busy02 {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -skrollr-animation-name: busy02; }
@-skrollr-keyframes busy02 {
  skrollr-4550 {
    transform: scale(0); }
  skrollr-4600 {
    transform[bounce]: scale(1); } }
#scene1 #busy03 {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -skrollr-animation-name: busy03; }
@-skrollr-keyframes busy03 {
  skrollr-4600 {
    transform: scale(0); }
  skrollr-4650 {
    transform[bounce]: scale(1); } }
#scene1 #busy04 {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -skrollr-animation-name: busy04; }
@-skrollr-keyframes busy04 {
  skrollr-4650 {
    transform: scale(0); }
  skrollr-4700 {
    transform[bounce]: scale(1); } }
#scene1 #busy05 {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -skrollr-animation-name: busy05; }
@-skrollr-keyframes busy05 {
  skrollr-4700 {
    transform: scale(0); }
  skrollr-4750 {
    transform[bounce]: scale(1); } }
#scene2 #shoes2 {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -skrollr-animation-name: shoes2; }
@-skrollr-keyframes shoes2 {
  skrollr-7250 {
    transform: translate(0, 0) scale(2); }
  skrollr-7300 {
    transform: translate(0, 0) scale(1); }
  skrollr-23000 {
    transform: translate(0, 0) scale(1); }
  skrollr-23100 {
    transform[bounce]: translate(0, 0) scale(2); }
  skrollr-23500 {
    transform: translate(0, 0) scale(2); }
  skrollr-24000 {
    transform: translate(1500px, 0) scale(2); } }
#scene2 #mobile2 {
  -skrollr-animation-name: mobile2; }
@-skrollr-keyframes mobile2 {
  skrollr-7000 {
    opacity: 0;
    transform: translate(1000px, 0) rotate(0deg); }
  skrollr-7250 {
    opacity: 1;
    transform: translate(500px, 0) rotate(0deg); }
  skrollr-8500 {
    opacity: 1;
    transform: translate(500px, 0) rotate(0deg); }
  skrollr-8750 {
    opacity: 0;
    transform: translate(0, 0) rotate(-30deg); } }
#scene2 #shutter {
  -skrollr-animation-name: shutter; }
@-skrollr-keyframes shutter {
  skrollr-7750 {
    opacity: 0; }
  skrollr-7800 {
    opacity: 1; }
  skrollr-7900 {
    opacity: 0; } }
#scene2 #thumnail {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -skrollr-animation-name: thumnail; }
@-skrollr-keyframes thumnail {
  skrollr-7900 {
    opacity: 0;
    transform: scale(0); }
  skrollr-7940 {
    opacity: 1;
    transform: scale(1.5); }
  skrollr-7950 {
    opacity: 1;
    transform: scale(1); } }
#scene2 #prodinfo {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -skrollr-animation-name: prodinfo; }
@-skrollr-keyframes prodinfo {
  skrollr-8500 {
    opacity: 0;
    transform: scale(1); }
  skrollr-8750 {
    opacity: 1;
    transform: scale(1); }
  skrollr-9500 {
    opacity: 1;
    transform: scale(1); }
  skrollr-9600 {
    opacity: 0;
    transform: scale(0.3); } }
#scene2 #sendinfo {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -skrollr-animation-name: sendinfo; }
@-skrollr-keyframes sendinfo {
  skrollr-9000 {
    opacity: 0;
    transform: translate(0, 1000px); }
  skrollr-9400 {
    opacity: 1;
    transform: translate(0, 0); }
  skrollr-22000 {
    opacity: 1;
    transform: translate(0, 0); }
  skrollr-22010 {
    opacity: 0;
    transform: translate(0, 0); } }
#scene2 #infomark {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -skrollr-animation-name: infomark; }
@-skrollr-keyframes infomark {
  skrollr-9500 {
    opacity: 0; }
  skrollr-10000 {
    opacity: 1; } }
#scene2 #partners {
  -skrollr-animation-name: partners; }
@-skrollr-keyframes partners {
  skrollr-10000 {
    transform: translate(1500px, 0); }
  skrollr-10500 {
    transform: translate(0, 0); }
  skrollr-12500 {
    transform: translate(1px, 0); }
  skrollr-13200 {
    transform: translate(-700px, 0); }
  skrollr-15000 {
    transform: translate(-700px, 0); }
  skrollr-16000 {
    transform: translate(-1400px, 0); }
  skrollr-20000 {
    transform: translate(-1400px, 0); }
  skrollr-20500 {
    transform: translate(-2100px, 0); }
  skrollr-24000 {
    transform: translate(-2100px, 0); }
  skrollr-24500 {
    transform: translate(-350px, 0); } }
#scene2 #partner4 {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -skrollr-animation-name: partner4; }
@-skrollr-keyframes partner4 {
  skrollr-11500 {
    transform: translate(0, 0) rotateY(0); }
  skrollr-11800 {
    transform: translate(0, 0) rotateY(180deg); }
  skrollr-24000 {
    transform: translate(0, 0) rotateY(180deg); }
  skrollr-24500 {
    transform: translate(300px, 0) rotateY(180deg); } }
#scene2 #partner2 {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -skrollr-animation-name: partner2; }
@-skrollr-keyframes partner2 {
  skrollr-13700 {
    transform: rotateY(0); }
  skrollr-14000 {
    transform: rotateY(180deg); } }
#scene2 #partner3 {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -skrollr-animation-name: partner3; }
@-skrollr-keyframes partner3 {
  skrollr-17000 {
    transform: translate(0, 0) rotateY(0); }
  skrollr-18000 {
    transform: translate(0, 0) rotateY(180deg); }
  skrollr-24000 {
    transform: translate(0, 0) rotateY(180deg); }
  skrollr-24500 {
    transform: translate(-300px, 0) rotateY(180deg); } }
#scene2 #partner1 {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -skrollr-animation-name: partner1; }
@-skrollr-keyframes partner1 {
  skrollr-21000 {
    transform: rotateY(0); }
  skrollr-21500 {
    transform: rotateY(180deg); } }
#scene2 #sendbtn {
  -skrollr-animation-name: sendbtn; }
@-skrollr-keyframes sendbtn {
  skrollr-9800 {
    opacity: 0; }
  skrollr-10000 {
    opacity: 1; }
  skrollr-20000 {
    opacity: 1; }
  skrollr-20050 {
    opacity: 0; } }
#scene2 #buybtn {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -skrollr-animation-name: buybtn; }
@-skrollr-keyframes buybtn {
  skrollr-23000 {
    opacity: 0;
    transform[bounce]: scale(3); }
  skrollr-23100 {
    opacity: 1;
    transform[bounce]: scale(1); }
  skrollr-24000 {
    opacity: 1;
    transform[bounce]: scale(1); }
  skrollr-24010 {
    opacity: 0;
    transform[bounce]: scale(1); } }
#scene2 #uphand1 {
  -skrollr-animation-name: uphand1; }
@-skrollr-keyframes uphand1 {
  skrollr-23500 {
    opacity: 0; }
  skrollr-23600 {
    opacity: 1; } }
#scene2 #downhand1 {
  -skrollr-animation-name: downhand1; }
@-skrollr-keyframes downhand1 {
  skrollr-23500 {
    opacity: 1; }
  skrollr-23600 {
    opacity: 0; } }
#scene2 #uphand2 {
  -skrollr-animation-name: uphand2; }
@-skrollr-keyframes uphand2 {
  skrollr-25000 {
    opacity: 0; }
  skrollr-25100 {
    opacity: 1; } }
#scene2 #downhand2 {
  -skrollr-animation-name: downhand2; }
@-skrollr-keyframes downhand2 {
  skrollr-25000 {
    opacity: 1; }
  skrollr-25100 {
    opacity: 0; } }
#scene2 #uphand3 {
  -skrollr-animation-name: uphand3; }
@-skrollr-keyframes uphand3 {
  skrollr-25000 {
    opacity: 0; }
  skrollr-25100 {
    opacity: 1; } }
#scene2 #downhand3 {
  -skrollr-animation-name: downhand3; }
@-skrollr-keyframes downhand3 {
  skrollr-25000 {
    opacity: 1; }
  skrollr-25100 {
    opacity: 0; } }
#scene2 #uphand4 {
  -skrollr-animation-name: uphand4; }
@-skrollr-keyframes uphand4 {
  skrollr-25000 {
    opacity: 0; }
  skrollr-25100 {
    opacity: 1; } }
#scene2 #downhand4 {
  -skrollr-animation-name: downhand4; }
@-skrollr-keyframes downhand4 {
  skrollr-25000 {
    opacity: 1; }
  skrollr-25100 {
    opacity: 0; } }
#scene2 #reword1 {
  transform-origin: 50% 100%;
  -skrollr-animation-name: reword1; }
@-skrollr-keyframes reword1 {
  skrollr-25000 {
    transform[bounce]: scale(0); }
  skrollr-25100 {
    transform[bounce]: scale(1); } }
#scene2 #reword2 {
  transform-origin: 50% 100%;
  -skrollr-animation-name: reword2; }
@-skrollr-keyframes reword2 {
  skrollr-25000 {
    transform[bounce]: scale(0); }
  skrollr-25100 {
    transform[bounce]: scale(1); } }
#scene2 #reword3 {
  transform-origin: 50% 100%;
  -skrollr-animation-name: reword3; }
@-skrollr-keyframes reword3 {
  skrollr-25000 {
    transform[bounce]: scale(0); }
  skrollr-25100 {
    transform[bounce]: scale(1); } }
#scene2 #click {
  -skrollr-animation-name: click; }
@-skrollr-keyframes click {
  skrollr-11500 {
    transform: translate(0, 0); }
  skrollr-11700 {
    transform: translate(0, 7px); }
  skrollr-11800 {
    transform: translate(0, 0); }
  skrollr-13700 {
    transform: translate(0, 0); }
  skrollr-13900 {
    transform: translate(0, 7px); }
  skrollr-14000 {
    transform: translate(0, 0); }
  skrollr-16800 {
    transform: translate(0, 0); }
  skrollr-17700 {
    transform: translate(0, 7px); }
  skrollr-17900 {
    transform: translate(0, 0); } }
#scene2 #shoess1 {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -skrollr-animation-name: shoess1; }
@-skrollr-keyframes shoess1 {
  skrollr-11800 {
    transform[bounce]: scale(0); }
  skrollr-12000 {
    transform[bounce]: scale(1); }
  skrollr-13500 {
    transform[bounce]: scale(1); }
  skrollr-13510 {
    transform[bounce]: scale(0); } }
#scene2 #shoess2 {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -skrollr-animation-name: shoess2; }
@-skrollr-keyframes shoess2 {
  skrollr-13900 {
    transform[bounce]: scale(0); }
  skrollr-14200 {
    transform[bounce]: scale(1); }
  skrollr-15000 {
    transform[bounce]: scale(1); }
  skrollr-15010 {
    transform[bounce]: scale(0); } }
#scene2 #shoess3 {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -skrollr-animation-name: shoess3; }
@-skrollr-keyframes shoess3 {
  skrollr-17900 {
    transform[bounce]: scale(0); }
  skrollr-18200 {
    transform[bounce]: scale(1); }
  skrollr-19200 {
    transform[bounce]: scale(1); }
  skrollr-19210 {
    transform: scale(0); } }
#scene2 #like {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -skrollr-animation-name: like; }
@-skrollr-keyframes like {
  skrollr-18500 {
    transform: scale(0); }
  skrollr-19000 {
    transform: scale(4); }
  skrollr-19100 {
    transform: scale(4); }
  skrollr-19200 {
    transform: scale(1); }
  skrollr-21500 {
    transform: scale(1); }
  skrollr-21550 {
    transform: scale(0.5); }
  skrollr-21650 {
    transform: scale(1); }
  skrollr-21750 {
    transform: scale(0.5); }
  skrollr-21850 {
    transform: scale(1); }
  skrollr-21950 {
    transform: scale(0.5); }
  skrollr-22000 {
    transform: scale(1); }
  skrollr-22100 {
    transform: scale(0.5); }
  skrollr-22200 {
    transform: scale(1); }
  skrollr-22300 {
    transform: scale(0.5); }
  skrollr-22400 {
    transform: scale(0); } }
#scene2 #buybox {
  -skrollr-animation-name: buybox; }
@-skrollr-keyframes buybox {
  skrollr-21000 {
    opacity: 0;
    transform: translate(1000px, 0); }
  skrollr-21500 {
    opacity: 1;
    transform: translate(500px, 0); }
  skrollr-22900 {
    opacity: 1;
    transform: translate(500px, 0); }
  skrollr-23000 {
    opacity: 0;
    transform: translate(0, -1000px); } }
#scene2 #reword {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -skrollr-animation-name: reword; }
@-skrollr-keyframes reword {
  skrollr-12000 {
    opacity: 0;
    transform: scale(3); }
  skrollr-12500 {
    opacity: 0;
    transform: scale(3); }
  skrollr-13000 {
    opacity: 1;
    transform: scale(1); } }
#scene2 #fromarrow {
  -skrollr-animation-name: fromarrow; }
@-skrollr-keyframes fromarrow {
  skrollr-12000 {
    opacity: 0; }
  skrollr-12500 {
    opacity: 1; } }
#scene2 #shoeinbox {
  -skrollr-animation-name: shoeinbox; }
@-skrollr-keyframes shoeinbox {
  skrollr-8200 {
    transform: translate(0, 50px); }
  skrollr-8500 {
    transform: translate(0, 0); } }
#scene3 #grap-phone {
  -skrollr-animation-name: grapphone; }
@-skrollr-keyframes grapphone {
  skrollr-27500 {
    transform: translate(-100px, 200px); }
  skrollr-28000 {
    transform: tranclate(0, 0); } }
#scene3 #cup {
  -skrollr-animation-name: cup; }
@-skrollr-keyframes cup {
  skrollr-27500 {
    transform: translate(50px, -500px); }
  skrollr-28000 {
    transform: tranclate(0, 0); } }
#scene3 #hand3 {
  -skrollr-animation-name: hand3; }
@-skrollr-keyframes hand3 {
  skrollr-28500 {
    opacity: 0;
    transform: translate(0, 200px); }
  skrollr-28700 {
    opacity: 1;
    transform: translate(-100px, 0); }
  skrollr-28800 {
    opacity: 1;
    transform: translate(-100px, 0); }
  skrollr-29500 {
    opacity: 1;
    transform: translate(0, 0); } }
#scene3 #every3 {
  -skrollr-animation-name: every3; }
@-skrollr-keyframes every3 {
  skrollr-28500 {
    opacity: 0;
    transform: translate(50px, 0); }
  skrollr-28800 {
    opacity: 1;
    transform: translate(0, 0); } }
#scene3 #view {
  overflow: hidden;
  -skrollr-animation-name: view; }
#scene3 #vstart {
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 1005 50%;
  -moz-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -skrollr-animation-name: vstart; }
@-skrollr-keyframes vstart {
  skrollr-28900 {
    transform: scaleX(1); }
  skrollr-29500 {
    transform: scaleX(0); } }
#scene4 #comp {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -skrollr-animation-name: comp; }
@-skrollr-keyframes comp {
  skrollr-32000 {
    transform: scale(1.1); }
  skrollr-32100 {
    transform: scale(1.2); }
  skrollr-32200 {
    transform: scale(1.1); }
  skrollr-32300 {
    transform: scale(1); } }
#scene4 #memb {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -skrollr-animation-name: memb; }
@-skrollr-keyframes memb {
  skrollr-32100 {
    transform: scale(1.1); }
  skrollr-32200 {
    transform: scale(1.2); }
  skrollr-32300 {
    transform: scale(1.1); }
  skrollr-32400 {
    transform: scale(1); } }
#scene4 #plan {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -skrollr-animation-name: plan; }
@-skrollr-keyframes plan {
  skrollr-32200 {
    transform: scale(1.1); }
  skrollr-32300 {
    transform: scale(1.2); }
  skrollr-32400 {
    transform: scale(1.1); }
  skrollr-32500 {
    transform: scale(1); } }
#scene5 #contact {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -skrollr-animation-name: contact; }
@-skrollr-keyframes contact {
  skrollr-34000 {
    transform: translate(-1000px, 0); }
  skrollr-34500 {
    transform: translate(0, 0); } }
#scene5 #subtlt {
  -skrollr-animation-name: subtlt; }
@-skrollr-keyframes subtlt {
  skrollr-35000 {
    transform: translate(-50px, 0); }
  skrollr-35500 {
    transform: translate(0, 0); } }
#scene5 #link {
  -skrollr-animation-name: link; }
@-skrollr-keyframes link {
  skrollr-35000 {
    transform: translate(-74px, 0); }
  skrollr-35500 {
    transform: translate(0, 0); } }
#scene5 #email {
  -skrollr-animation-name: email; }
@-skrollr-keyframes email {
  skrollr-35000 {
    transform: translate(-68px, 0); }
  skrollr-35500 {
    transform: translate(0, 0); } }
#scene5 #phone {
  -skrollr-animation-name: phone; }
@-skrollr-keyframes phone {
  skrollr-35000 {
    transform: translate(-100px, 0); }
  skrollr-35500 {
    transform: translate(0, 0); } }

/*# sourceMappingURL=animation.css.map */
